.them-san-pham {
    padding: 10%;
}

.them, .xoa {
    border: 1px solid;
    padding: 8px;
    border-radius: 3px;
    width: 80px;
    text-align: center;
    cursor: pointer;
    margin: 8px;
    background-color: #ccc;
    box-shadow: 2px 2px 2px #ccc;
}

.detail div {
    margin: 8px;
    display: flex;
}
